<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property resource="META-INF/build-info.properties"/>


    <springProperty scope="context" name="application_name" source="spring.application.name"/>


<!--    <property name="STE_EXCLUSIONS" value="\$\$FastClassByCGLIB\$\$,\$\$EnhancerBySpringCGLIB\$\$,^sun\.reflect\..*\.invoke,^com\.sun\.,^sun\.net\.,^net\.sf\.cglib\.proxy\.MethodProxy\.invoke,^org\.springframework\.cglib\.,^org\.springframework\.transaction\.,^org\.springframework\.validation\.,^org\.springframework\.app\.,^org\.springframework\.aop\.,^java\.lang\.reflect\.Method\.invoke,^org\.springframework\.ws\..*\.invoke,^org\.springframework\.ws\.transport\.,^org\.springframework\.ws\.soap\.saaj\.SaajSoapMessage\.,^org\.springframework\.ws\.client\.core\.WebServiceTemplate\.,^org\.springframework\.web\.filter\.,^org\.apache\.tomcat\.,^org\.apache\.catalina\.,^org\.apache\.coyote\.,^java\.util\.concurrent\.ThreadPoolExecutor\.runWorker,^java\.lang\.Thread\.run$"/>-->


    <springProfile name="docker">

        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers >
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <logLevel/>
                    <loggerName/>
                    <threadName/>
                    <context/>
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        <pattern>
                            {
                            "service_id": "${build.group}.${build.name}",
                            "service_version": "${build.version}",
                            "trace": {
                            "trace_id": "%mdc{trace_id}",
                            "span_id": "%mdc{X-B3-SpanId}",
                            "parent_span_id": "%mdc{X-B3-ParentSpanId}"
                            }
                            }
                        </pattern>
                    </pattern>
                    <message/>
                    <mdc>
                        <excludeMdcKeyName>transaction_id</excludeMdcKeyName>
                        <excludeMdcKeyName>trace_id</excludeMdcKeyName>
                        <excludeMdcKeyName>spanId</excludeMdcKeyName>
                        <excludeMdcKeyName>parentId</excludeMdcKeyName>
                        <excludeMdcKeyName>spanExportable</excludeMdcKeyName>
                        <excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>
                        <excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>
                        <excludeMdcKeyName>X-B3-ParentSpanId</excludeMdcKeyName>
                        <excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>
                    </mdc>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="jsonConsoleAppender" />
        </root>



    </springProfile>


    <springProfile name="!docker">
        <property name="CONSOLE_LOG_PATTERN"
                  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} ${build.version} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

        <appender name="flatConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="flatConsoleAppender"/>
        </root>
    </springProfile>

</configuration>